
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  font-size: 10px;
}

body {
  margin: 0;
}


#app {
  font-family: 'Merriweather', serif;
  width: 100%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
